@use "sass:map";
@use "sass:color";
@use "./variables" as *;

$themes: (
    light: (
        "primary": $primary,
        "primary-dark":  $primary-dark,
        "primary-light": $primary-light,
        "secondary": $secondary,
        "danger": $danger,
        "warning": $warning,
        "grd" : $grd,
        "bg-subtle": $bg-subtle,
        "surface": $surface,
        "surface-raised": $surface-raised,
        "bg-overlay": $bg-overlay,
        "overlay": $overlay,
        "white" :$white,
        "black" :$black,
        "text": $text,
        "text-muted": $text-muted,
        "text-third": $text-third,
        "border": $border,
        "border-dark" :$border-dark,
        "link" : $link,
        "link-hover" : $link-hover,
        "link-bright" : $link-bright,
        // Button 전용 토큰
        "btn-primary-bg":        $primary,
        "btn-primary-bg-hover":  $primary-dark,
        "btn-primary-text":      $white,
        "btn-outline-border":    $primary,
        "btn-outline-text":      $primary,
        "btn-outline-bg-hover":  $primary,
        "btn-outline-text-hover": $white,
        "btn-secondary-bg":      $secondary,
        "btn-secondary-bg-hover":$secondary-dark,
        "btn-secondary-text":    $white,
        "btn-danger-bg":         $danger,
        "btn-danger-bg-hover":   $danger-dark,
        "btn-danger-text":       $white,
        "btn-filter-bg":         $white,
        "btn-filter-text":       $text-muted,
        "btn-filter-bg-hover":   color.adjust($white, $lightness: -10%), 
        "btn-disabled-bg":       $disabled,
        "btn-disabled-text":     #7f8c8d,
    ),
    dark: (
        
    ),
);
